<article class="product">
    <img src="images/<%= product.image %> "  alt=<%= product.description %> >
    <div class="product-info">
        <i class="fa-solid fa-truck"></i>
        <h4 class="product-price"> <%= product.price %> </h4>
        <h4 class="product-offer"> <%= product.offer %> </h4>
        <h3 class="product-description"> <%= product.description %> </h3>
    </div>
</article> 